<div class="row">
	<h2 class="page-header">Your Playlist</h2>
	<div class="playlist">
		<ul class="list-group">
			<li *ngFor="let track of playlist$ | async" class="list-group-item">
				<app-playlist-detail [track]="track" [isPlaying]="(activeTrack$ | async) === track" 
				(playPreview)="playTrackPreview(track)" (stopPreview)="stopTrackPreview()"></app-playlist-detail>
			</li>
		</ul>
		<div *ngIf="(status$ | async) === 2" class="loading">
			<img src="assets/loading-ring.svg"/>
		</div>
	</div>
	<p *ngIf="(status$ | async) === 1" class="alert alert-warning err-msg">
		{{message$ | async}}
	</p>
 </div>