<div class="row">
	<div class="page-header">Your Playlist</div>
	<div class="playlist">
		<ul class="list-group">
			<li *ngFor="let track of playlist$ | async" class="list-group-item">
				<app-playlist-detail [track]="track" [isPlaying]="(activeTrack$ | async) === track" 
				(playPreview)="playTrackPreview(track)" (stopPreview)="stopTrackPreview()"></app-playlist-detail>
			</li>
		</ul>
		<div *ngIf="(loading$ | async) === 2" class="loading">
			<img src="assets/loading-ring.svg"/>
		</div>
	</div>
 </div>